In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("home data.csv")
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

In [3]:
df.shape

(99, 2)

In [4]:
x=df['x']
y= df['y']

# Gradient descent in machine learning

In [8]:
#first step

m=0
c=0
Learning_rate=0.0001
n = int(len(x))

iterations =1000

#2nd step
for i in range(iterations):
    y_prediction =m*x+c
    dervatives_m= (-2/n) * sum(x*(y-y_prediction))
    dervatives_c= (-2/n) * sum(y-y_prediction)
    
    #final work
    
    m = m- Learning_rate * dervatives_m
    c = c- Learning_rate * dervatives_c

print('This is m:',m)
print('This is c:',c)

This is m: 1.4796491688881985
This is c: 0.10148121497503648

# Make Prediction

In [9]:
a=float(input("Enter any value of x:"))

#y=mx+c

b=0.7424335285442664* a +0.014629895049575754
b

Enter any value of x:38

28.227103979731698